<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Description</th>
      <th>Answer a cotion</th>
      <th>Description</th>
      <th>Answer a</th>
      <th>Answer b</th>
      <th>Answer c</th>
      <th>Answer d</th>
      <th>Answer e</th>
      <th>Answer f</th>
      <th>Correctanswer</th>
      <th>Explanation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
        <td><%= question.description %></td>
        <td><%= question.answer_a_cotion %></td>
        <td><%= question.description %></td>
        <td><%= question.answer_a %></td>
        <td><%= question.answer_b %></td>
        <td><%= question.answer_c %></td>
        <td><%= question.answer_d %></td>
        <td><%= question.answer_e %></td>
        <td><%= question.answer_f %></td>
        <td><%= question.correctanswer %></td>
        <td><%= question.explanation %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
