
<p id="notice"><%= notice %></p>

<h2>
    <%=@asking.question%>
</h2>

<%= form_for(@asking) do |f| %>
  
<div class="form_row">
    <%if @asking.answer_a != nil%>
    <%= f.radio_button :selectedanswer, @asking.answer_a %>
    <%= f.label :selectedanswer, @asking.answer_a %>
    <%end%>
    
    <%if @asking.answer_b != nil%>
    <%= f.radio_button :selectedanswer, @asking.answer_b %>
    <%= f.label :selectedanswer, @asking.answer_b %>
    <%end%>
    
    
    <%if @asking.answer_c != nil%>
    <%= f.radio_button :selectedanswer, @asking.answer_c %>
    <%= f.label :selectedanswer, @asking.answer_c %>
    <%end%>
    
    
    <%if @asking.answer_d != nil%>
    <%= f.radio_button :selectedanswer, @asking.answer_d %>
    <%= f.label :selectedanswer, @asking.answer_d %>
    <%end%>
    
    
    <%if @asking.answer_e != nil%>
    <%= f.radio_button :selectedanswer, @asking.answer_e %>
    <%= f.label :selectedanswer, @asking.answer_e %>
    <%end%>
    
    <%if @asking.answer_f != nil%>
    <%= f.radio_button :selectedanswer, @asking.answer_f %>
    <%= f.label :selectedanswer, @asking.answer_f %>
    <%end%>
</div>



<%if Asking.sum("answered")>3%>
    <input type="submit" value="Submit">
<%else%>
    <div class="actions">
    <input type="submit" value="Continue">
    </div>
<%end%>

<% end %>