<p id="notice"><%= notice %></p>

<h2>
    <%=@asking.question%>
</h2>


<%if @asking.answer_a != nil%>
    <input type="radio" id="A" name="gender" value="A">
    <label for="A"><%=@asking.answer_a%></label><br>
<%end%>

<%if @asking.answer_b != nil%>
<input type="radio" id="B" name="gender" value="B">
<label for="B"><%=@asking.answer_b%></label><br>
<%end%>

<%if @asking.answer_c != nil%>
<input type="radio" id="C" name="gender" value="C">
<label for="C"><%=@asking.answer_c%></label><br>
<%end%>

<%if @asking.answer_d != nil%>
<input type="radio" id="D" name="gender" value="D">
<label for="D"><%=@asking.answer_d%></label><br>
<%end%>

<%if @asking.answer_e != nil%>
<input type="radio" id="E" name="gender" value="E">
<label for="E"><%=@asking.answer_e%></label><br>
<%end%>

<%if @asking.answer_f != nil%>
<input type="radio" id="F" name="gender" value="F">
<label for="F"><%=@asking.answer_f%></label><br>
<%end%>



<%= link_to 'Edit', edit_asking_path(@asking) %> |
<%= link_to 'Back', askings_path %>
